body {
  font-family: sans-serif;
}


#videos {
  width: 100%;
  max-width: 500px;
}

#localVideo {
  max-width: 100%;
  width: 100%;
  float: left;
  border: 1px solid;
  background-color: #666666;
}

#remoteVideo {
  max-width: 100%;
  width: 100%;
  float: left;
  border: 1px solid;
  display: none;
  background-color: pink;
}

.localVideoInChatting{
  width: 100px !important;
  position: absolute;
}

.remoteVideoInChatting{
  display: inline-block !important;
}

#shareScreen{
  margin-left: 10px;
  width: 50%;
  height: 50%;
  background-color: darkblue;
}

